*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
Thumbs.db
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
proguard
.metadata
*.apk
*.ap_
*.dex
